<div class="container mt-3">
  <h1 class= "text-left ml-4">All our Flats</h1>

    <div class ="row">
      <% @flats.each do |flat| %>
        <div class="card-trip">
         <%= image_tag("https://images.unsplash.com/photo-1512917774080-9991f1c4c750?ixlib=rb-1.2.1&dpr=1&auto=format&fit=crop&w=416&h=312&q=60")%>
          <div class="card-trip-infos">
            <h2><%= flat.name %></h2>
              <p><%= flat.address %></p>
              <span><i class="fas fa-user-friends"></i><%= flat.number_of_guests%></span>
              <span><i class="fas fa-euro-sign"></i><%= flat.price_per_night%></span>
          </div>
          <div class="bottom">
            <span><%= link_to "More Info", flat, class: 'p-3 mb-2 text-primary'  %></span>
            <span><%= link_to "Edit", new_flat_path, class: 'p-3 mb-2 text-warning'  %></span>
            <span><%= link_to "Remove",flat_path(flat),  method: :delete,
      data: { confirm: "Are you sure?" }%></span>
          </div>
        </div>
      <% end %>
    </div>
</div>
