<div class="container mt-3">
  <h1 class= "text-center">Delux's Flat</h1>

    <div class ="row">
      <% @flats.each do |flat| %>
        <div class="card-trip">
         <%= image_tag("https://images.unsplash.com/photo-1512917774080-9991f1c4c750?ixlib=rb-1.2.1&dpr=1&auto=format&fit=crop&w=416&h=312&q=60")%>
          <div class="card-trip-infos">
            <h2><%= flat.name %></h2>
              <p><%= flat.description %></p>
              <p><%= flat.address %></p>
              <p><%= flat.number_of_guests%></p>
              <p><%= flat.price_per_night%></p>
              <div class="bottom">
              More Info
              Edit
              Remove
              </div>
          </div>
        </div>
      <% end %>
    </div>
</div>

